.ChatSection{
    display: grid;
    grid-template-rows: 10% 80% 7.5%;
    grid: 1;
    height: 100%;
}
.Details_of_Person_or__Group{
    width: auto;
    border: 2px solid white;
    border-radius: 0.35rem;
}
.MessageArea{
    width: auto;
    border: 2px solid white;
    border-radius: 0.35rem;
}
.ChatBox{
    width: auto;
    border: 2px solid white;
    border-radius: 0.35rem;
}