.messageArea {
  width: auto;
  height: 100%;
}

.mainMessageArea{
  width: auto;
  position: sticky;
  top:90%;
  overflow-y: scroll  ;
  /* border: 2px solid red; */
}

.message-container{
  display: flex;
  flex-direction: column;
}
.text{
  display: inline-block;
  margin: 1rem 1rem 0.5rem 1rem;
}
.message-text{
  max-width: 50%;
  max-height: 50%;
  overflow: hidden;
  background-color: rgb(49, 47, 47);
  border-radius: 0.25rem;
  border: 1px solid #0084FF;
  padding: 0.25rem;
}
.message-timestamp{
  color: white;
  font-size: 12px;
  margin-left: 1rem;
}
