.MainPageSection {
  margin: 0px;
  padding: 0px;
  display: flex;
  border-left: 6rem solid black;
  border-right: 6rem solid black;
  border-top: 2rem solid black;
  border-bottom: 2rem solid black;
  border-image: linear-gradient(135deg, black, rgb(30, 12, 12));
  height: 100vh;
}

.main-page {
  /* border: 1px solid rgb(217, 197, 197); */
  border-radius: 2px;
}
.utility_bar {
  height: 100%;
  width: 4rem;
  border: 1px solid grey;
  display: flex;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(21, 13, 13, 0.512);
  background-image: linear-gradient(black, rgb(59, 57, 57));
}

.chat_sideBar {
  width: 30%;
  height: 100%;
}
.chatSection {
  width: 70%;
  height: 100%;
}
