.MainPageSection{
    margin: 0px;
    padding: 0px;
    display: flex; 
     
}

.main-page{
    border: 1px solid rgb(217, 197, 197);
}
.utility_bar{
    width: 4rem;
    border: 1px solid grey;
    display: flex;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color:rgba(21, 13, 13, 0.512);
    background-image: linear-gradient(black,rgb(59, 57, 57));
}

.chat_sideBar{
    width: 30%;
    height:95vh
}
.chatSection{
    width: 70%;
    height: 95vh;
}
