.app-icon{
    width: 3rem;
    position: relative;
    top: 3%;
    left:10%;
}
.notifications-symbol{
    width: 2rem;
    position: relative;
    top: 20%;
    left: 24%;
}
.group-symbol {
    width: 2rem;
    position: relative;
    top: 30%;
    left: 24%;
}  
.favourite-symbol{
    width: 2rem;
    position: relative;
    top: 40%;
    left: 24%;
} 
.settings-symbol{
    width: 2rem;
    position: relative;
    top: 50%;
    left: 24%;
}
.logout-symbol{
    width: 2rem;
    position: relative;
    top: 60%;
    left: 24%;
}